@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: #00b894;
  text-transform: uppercase;
}
.container {
  max-width: 1540px;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #353b48;
  margin: 0 auto;
}
.card-list {
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.card {
  margin: 20px;
  width: 240px;
  height: 400px;
  background-size: cover;
  background: url(bg.jpg) center center;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(22, 79, 201, 0.6);
  transition: all 0.4s cubic-bezier(0.37, 0.26, 0.35, 1);
}

.card:hover {
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.9),
    inset 0 0 0 1000px rgba(22, 79, 201, 0.2);
}
.card:hover .avatar {
  animation: none;
  /*box-shadow: 0;*/
  width: 120px;
  height: 120px;
}
.card:hover .profile {
  opacity: 1;
  bottom: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  transition: all 0.4s cubic-bezier(0.37, 0.26, 0.35, 1);
  animation: circles 4s infinite;
  box-shadow: 0 30px 30px -25px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  margin: auto;
}

.avatar img {
  height: 100%;
  width: 85%;
}
.profile {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.37, 0.26, 0.35, 1);
}

.profile h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 1000;
}
.profile h3 {
  color: #f2f2f2;
  padding: 0;
  margin: 1px 0 1px 0;
  font-size: 0.9em;
  font-weight: 300;
}

.profile a {
  font-size: 0.9em;
  margin: 15px;
  line-height: 22px;
  padding: 0;
  color: #fff;
}
.profile .btn {
  color: #fff;
  padding: 10px;
  margin: 10px 0 0;
  display: inline-block;
}

@keyframes circles {
  0% {
    box-shadow: 0 30px 30px -25px rgba(0, 0, 0, 0.6),
      0 0 0 0 rgba(255, 255, 255, 1), 0 0 0 0 rgba(255, 255, 255, 0.7),
      0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 30px 30px -25px rgba(0, 0, 0, 0.6),
      0 0 0 70px rgba(102, 52, 105, 0), 0 0 0 200px rgba(102, 52, 105, 0),
      0 0 0 300px rgba(102, 52, 105, 0);
  }
}
.editor-container-1 {
  background-color: #2d3436;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
}
.editor-container-1 a,
.editor-container-2 a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.editor-container-1 i,
.editor-container-2 i {
  color: #dfe6e9;
  font-size: 20px;
}
.editor-container-1:hover a,
.editor-container-1:hover i,
.editor-container-2:hover a,
.editor-container-2:hover i {
  color: #55efc4;
}
.editor-container-2 {
  background-color: #2d3436;
  position: absolute;
  bottom: 0;
  right: 10%;
  margin-right: 20px;
}
.editor-container-2 i {
  color: #dfe6e9;
  font-size: 20px;
}
